* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --gray: #20222F;
    --black: #141622;
    --dark25: rgba(0, 0, 0, .25);
    --dark50: rgba(0, 0, 0, .5);
    --gradient90: linear-gradient(90deg, rgba(103,75,210,1) 0%, rgba(169,97,217,1) 100%);
    --gradient0: linear-gradient(0, rgba(103,75,210,1) 0%, rgba(169,97,217,1) 100%);
    --purple: #9A5CD8;
}

body {
    width: 100%;
    height: 100vh; 
    background-color: var(--black);
    display: flex; 
    flex-direction: column;
    overflow: hidden;
}

