* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --gray: #20222F;
    --black: #141622;
    --dark25: rgba(0, 0, 0, .25);
}

body {
    width: 100%;
    height: 100vh; 
    background-color: var(--black); 
}
