.userField {
    width: 400px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
    color: white;
    margin-right: 15px;

    .inBtn {
        padding: 10px 20px;
        background-color: var(--black);
        border-radius: 9px;
    }
    .regBtn {
        padding: 10px 20px;
        background-color: var(--purple);
        border-radius: 9px;
        transition: transform 0.3s ease-out;
        cursor: pointer;

        &:hover {
            transform: scale(1.03);
        }
    }
}

.account {
    &.active {
        .userPanel {
            display: flex;

        }
        .userData {
            background-color: var(--dark25);

        }
    }
    

    position: relative;
    .userData {
        display: flex;
        align-items: center;
        gap: 15px;
        padding: 2px 15px;
        border-radius: 9px;
        transition: background-color 0.2s linear;
        cursor: pointer;
        &:hover {
            background-color: var(--dark25);
        }

        .userName {
            font-size: 24px;
        }
        .avatar {
            width: 64px;
            height: 64px;
            border: 1px solid var(--black);
            border-radius: 9px;
        }
    }

    .userPanel {
        display: none;
        position: absolute;
        margin-top: 15px;
        background-color: var(--gray);
        border-radius: 9px;
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 2px;
        padding: 5px;
        
        span {
            display: grid;
            place-items: center;
            border-radius: 9px;
            width: 100%;
            height: 35px;
            font-size: 15px;
            background-color: var(--dark25);
            cursor: pointer;
            transition: background-color 0.2s linear;

            &:hover {
                background-color: var(--dark50);
            }
        }
    }


}