.btnNewGame {
    height: 45px;
    padding: 10px 15px;
    border-radius: 9px;
    background-color: var(--purple);
    transition: background-color 0.2s linear;
    color: white;
    font-size: 18px;
    &:hover {
        background-color: var(--purpleDark);
    }
}